{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h2>FCFMT Clinic Student Registration</h2>

    {% if error %}
    <div class="alert-error">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Upload Passport</label>
        <input type="file" name="photo" accept="image/*">

        <label>Full Name</label>
        <input type="text" name="full_name" required>


        <label>Registration Number</label>
        <input type="text" name="reg_number" placeholder="FCFMTND20241234" required>


        <label>Department</label>
        <select name="department" required>
        <option value="">Select Department</option>
        <option value="Marine Engineering">Marine Engineering</option>
        <option value="Nautical Science">Nautical Science</option>
        <option value="Fisheries Technology">Fisheries Technology</option>
        <option value="Marine Transport and Business Studies">
        Marine Transport and Business Studies
        </option>
        <option value="Oceanography">Oceanography</option>
        <option value="Computer Science">Computer Science</option>
        </select>


        <label>Level</label>
            <select name="level">
            <option>ND1</option>
            <option>ND2</option>
            <option>HND1</option>
            <option>HND2</option>
        </select>


        <label>Date of Birth</label>
        <input type="date" name="date_of_birth" required>


        <label>Phone Number</label>
        <input type="text" name="phone" required>

        <label>Email Address</label>
        <input
            type="email"
            name="email"
            placeholder="student@email.com"
            required
        >


        <label>Blood Group</label>
            <select name="blood_group">
            <option>A+</option>
            <option>A-</option>
            <option>B+</option>
            <option>B-</option>
            <option>AB+</option>
            <option>AB-</option>
            <option>O+</option>
            <option>O-</option>
        </select>


        <label>Genotype</label>
            <select name="genotype">
            <option>AA</option>
            <option>AS</option>
            <option>SS</option>
            <option>AC</option>
        </select>


        <label>Address</label>
        <textarea name="address"></textarea>


        <label>Emergency Contact</label>
        <input type="text" name="emergency_contact">


        <button type="submit">Register Student</button>

    </form>
    <div class="back-container">
        <a href="{% url 'login' %}" class="back-home">Login Here</a>
        <a href="{% url 'home' %}" class="back-home">← Back to Home</a>
    </div>


   
    
</body>
</html>